* {
    // outline: solid gray 2px;
}

body {
    box-sizing: border-box;
    line-height: 1.5;
    font-family: SF Pro Text, Semibold;
}

h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}