.banner {
    background: url('../img/banner.png');
    background-position: center center;
    background-size: 100% 100%;
    height: 870px;

    @include pad() {
        max-height: 600px;
    }

    &-info {
        width: 445px;
        height: 300px;
        margin-top: 300px;
        // background-color: red;
        color: #FFF;
        text-align: left;

        @include iphone() {
            margin-top: 100px;
        }

        h2 {
            font-size: 40px;
            font-weight: bold;
        }

        p {
            font-size: 24px;
            height: 144px;
        }

        button {
            color: #FFF;
            font-size: 30px;
            width: 250px;
            height: 60px;
            background-color: transparent;
            border: 2px solid #FFF;
            border-radius: 30px;
            margin-top: 60px;
        }
    }
}

//product-introduce-list start
.product-introduce-list {
    .container {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    li {
        @include iphone(){
            margin-top: 32px;
        }
        &:nth-child(odd) {
            display: flex;
            flex-direction: row-reverse;
        }
    }


    .col-md-6 {
        padding-right: 0px;
        padding-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info {
        max-width: 350px;

        h2 {
            font-size: 32px;
        }

        p {
            font-size: 20px;
        }

        .more {
            font-size: 16px;
        }
    }

    .text {
        margin-top: 52px;

        h3 {
            font-size: 24px;
        }

        p {
            font-size: 16px;
        }
    }

    button {
        font-size: 20px;
        border: 2px solid #000;
        border-radius: 30px;
        background-color: #fff;
        padding: 18px 50px;
    }
}

//product-introduce-list end

//product-list start
.product-list {
    background-color: #E0E0E0;

    ul {
        padding-top: 40px;
        padding-inline-start: 0px;
    }

    .product-photo {
        position: relative;
    }

    .product-info {
        font-size: $font-m;
        font-weight: bold;

        img {
            width: 100%;
            position: relative;

            @include iphone() {
                width: 350px;
                height: 350px;
            }
        }

        pre {
            font-size: $font-s;
            font-weight: lighter;
        }

        .delete-line {
            color: #8D8D8D;
        }

        .price {
            margin-top: 16px;
        }
    }

    .sold-out {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        background-color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            color: #FFFFFF;
            font-size: $font-m;
            opacity: 1;
        }
    }
}

//product-list end

//bottle-recycling start
.bottle-recycling {
    img {
        margin-top: 60px;
        margin-bottom: 60px;

        @include iphone() {
            // background-position:left;

            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    .info-box {
        margin-bottom: 40px;
    }

    .info {
        margin-top: 82px;

        @include iphone() {
            margin-top: 0px;
        }

        .subtitle {
            font-size: 20px;
        }

        .description {
            font-size: $font-s;
        }
    }
}

//bottle-recycling end