

.user-manage {
    .user-menu {
        h4 {
            color: $gray;
            font-size: 20px;
        }

        a {
            color: $gray;
            // background-color: red;
            font-size: 16px;
            margin-top: 24px;

            &:after {
                content: " ";
                display: block;
                width: 0%;
                height: 2px;
                margin: 2px 0px;
                background-color: $primary;
                opacity: 0;
                transition: .2s .3s;
            }
        }

        ul {
            padding-inline-start: 0px;
            margin-top: 40px;
            margin-bottom: 40px;

            .link:hover a:after {
                opacity: 1;
                width: 50%;
            }
        }


    }

    .update-user-data {
        @include iphone {
            margin-top: 40px;
        }
    }

    .update-user-password {
        margin-top: 48px;

    }

    .user-info {
        color: $gray;
        font-size: 16px;

        .user-id-box {
            display: flex;

            pre {
                margin-bottom: 0;
                margin-left: 5px;
                color: $gray;

                @include iphone {
                    font-size: 20px;
                }
            }
        }

        .fs14 {
            font-size: 14px;
        }

    }

    label {
        font-size: 16px;
        color: $gray;
    }

    button {
        padding: 8px 48px;
    }

    .Email {
        color: $gray;
    }

}
//不加這個，不知道為什麼有 margin-top:60px;
.footer {
    margin-top: 0px;
}