.footer {
    background-color: $primary;
    margin-top: 0px;

    .row {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .copyRight {
        display: flex;
        align-items: center;

        a {
            display: block;
        }

        p {
            width: 100%;
            line-height: 24px;
            color: #FFF;
            margin-left: 20px;
            margin-bottom: 0px;
        }
    }

    ul {
        display: flex;

        @include pad() {
            display: none;
        }

        a {
            color: #FFF;
            margin-left: 36px;
        }
    }
}