.perfume-navbar {
    background-color: #FFF;


    &-brand {
        display: block;
        width: 128px;
        height: 38px;
    }

    &-list-pad-desktop {
        padding-inline-start: 0px;
        margin-bottom: 0;
        display: flex;



        li {
            margin-top: 8px;
            width: 100%;

            @include iphone {
                background-color: #707070;
                margin-top: 1px;
                text-align: center;
            }

            .link {
                display: block;
                color: $gray;

                @include iphone {
                    color: #FFF;
                }

                img {
                    display: inline-block;

                    @include iphone {
                        display: none;
                    }
                }

                p {
                    display: inline-block;
                }
            }
        }
    }

    &-list-phone {
        display: flex;
        padding-inline-start: 0px;
        margin-bottom: 0rem;

        li {
            margin-top: 8px;
        }

        .count-shopping-items-phone {
            text-align: center;
            font-size: 5px;
            border-radius: 50%;
            background-color: $primary;
            color: #FFF;
            width: 15px;
            height: 15px;
            position: absolute;
            left: 25px;
            top: -3px;

        }

        .burger-icon {
            cursor: pointer;

        }

        // .transition {
        //     transition-duration: 4s;
        // }
    }
}